{% extends 'base.html.twig' %}

{% block title %}Access Denied{% endblock %}

{% block body %}
    <div class="container">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">Access Denied</h4>
            <p>You have been banned from accessing this site.</p>
            <p>If you believe this is an error or would like to appeal the ban, please contact the site administrator.</p>
        </div>
    </div>
{% endblock %}