{% extends 'back/t_base_pays.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <h1>Create new User</h1>

    {{ include('admin/_form.html.twig') }}

    <a href="{{ path('app_admin_index') }}">back to list</a>
{% endblock %}
