{% extends 'back/t_base.html.twig' %}
{% block body %}
    <h4>Create new Ville</h4>

    {{ include('ville/_form.html.twig') }}

    <a href="{{ path('app_ville_index') }}" class="btn btn-warning">VIEW LIST</a>
{% endblock %}
