{% extends 'back/t_base_events.html.twig' %}

{% block title %}
	Event Reservation Statistics
{% endblock %}

{% block body %}
	<h1>Statistiques des réservations</h1>

	<div class="chart-container">
		<canvas id="reservationsChart"></canvas>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<script>
		var ctx = document.getElementById('reservationsChart').getContext('2d');
var myChart = new Chart(ctx, {
type: 'bar',
data: {
labels: {{ eventLabels|raw }},
datasets: [
{
label: 'Number of Reservations',
data: {{ reservationsData|raw }},
backgroundColor: [
'rgba(255, 99, 132, 0.5)', // Red
'rgba(54, 162, 235, 0.5)', // Blue
'rgba(255, 206, 86, 0.5)', // Yellow
'rgba(75, 192, 192, 0.5)', // Green
'rgba(153, 102, 255, 0.5)', // Purple
'rgba(255, 159, 64, 0.5)' // Orange
],
borderColor: [
'rgba(255, 99, 132, 1)', // Red
'rgba(54, 162, 235, 1)', // Blue
'rgba(255, 206, 86, 1)', // Yellow
'rgba(75, 192, 192, 1)', // Green
'rgba(153, 102, 255, 1)', // Purple
'rgba(255, 159, 64, 1)' // Orange
],
borderWidth: 1
}
]
},
options: {
scales: {
y: {
beginAtZero: true
}
},
plugins: {
legend: {
display: false
}
}
}
});
	</script>
{% endblock %}

{% block stylesheets %}
	<style>
		.chart-container {
			margin-top: 50px;
			margin-bottom: 50px;
			text-align: center;
		}
	</style>
{% endblock %}
