<form method="post" action="{{ path('app_hebergement_delete', {'id': hebergement.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ hebergement.id) }}">
    <button type="submit" class="btn btn-danger mt-3">Delete</button>
</form>
