{% extends 'base_back.html.twig' %}

{% block title %}Edit Hebergement{% endblock %}

{% block body %}
    <h1>Edit Hebergement</h1>

    {{ include('hebergement/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_hebergement_index') }}"><button type="button" class="btn btn-success rounded-pill">Back to list</button></a>

    {{ include('hebergement/_delete_form.html.twig') }}
{% endblock %}
