{% extends 'base_back.html.twig' %}

{% block title %}New Hebergement{% endblock %}

{% block body %}
<div style="padding-top: 50px;"
<div style="padding-right: 50px;"
    <h1>Create new Hebergement</h1>

    {{ include('hebergement/_form.html.twig') }}

    <a href="{{ path('app_hebergement_index') }}">back to list</a>
{% endblock %}
