<form method="post" action="{{ path('app_pays_delete', {'id_pays': pay.id_pays}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pay.id_pays) }}">
    <button class="btn">Delete</button>
</form>
