<!DOCTYPE html>

<title>Edit Pays</title>

{% block body %}
    <h1>Edit Pays</h1>

    {{ include('pays/_form.html.twig', {'button_label': 'Update'}) }}
    {{ include('pays/_delete_form.html.twig') }}
    <a href="{{ path('app_pays_index') }}">LISTE DES PAYS</a>
    
{% endblock %}
