{% extends 'back/t_base_pays.html.twig' %}
{% block body %}
    <h4>Create new Pays</h4>

    {{ include('pays/_form.html.twig') }}

    <a href="{{ path('app_pays_index') }}" class="btn bg-gradient-info">VIEW LIST</a>
{% endblock %}
