<!DOCTYPE html>

<title>New Pays</title>

{% block body %}
    <h1>Create new Pays</h1>

    {{ include('pays/_form.html.twig') }}

    <a href="{{ path('app_pays_index') }}">back to list</a>
{% endblock %}
