{% extends 'base_back.html.twig' %}

{% block body %}

<div style="padding-left: 25%;">
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center mb-4">Ajouter Restaurant</h5>
                    
                    <div style="padding: 0 15px;"> <!-- Adjust the padding as needed -->
                        {{ form_start(form, {'attr': {'class': 'form'}}) }}
                        
                        <div class="form-group">
                            {{ form_widget(form, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        
                        <div class="text-center">
                            <button class="btn btn-primary">{{ button_label|default('Ajouter') }}</button>
                        </div>
                        
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}